@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

#root {
  margin: 0 auto;
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  color: #1f1f1f;
}

#profile-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
